language: haskell

ghc:
  - 7.4
  - 7.6
  - 7.8

os:
  - linux

before_script:
  - ghc-pkg list
  - cabal sandbox init
  - cabal install --only-dependencies

script:
  - cabal configure --ghc-option=-Werror
  - cabal build

notifications:
  - email: false
